streamlit
pandas
numpy
plotly
pyserial
scikit-learn
joblib
reportlab
bcrypt
Pillow
deepface
tf-keras
opencv-python-headless
SpeechRecognition
nltk
openpyxl
psycopg2-binary
mysql-connector-python
streamlit-mic-recorder
